body {
  background-color: #FFF0F5;
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #695F5F;
}

.pic-auth {
  width: 80%;
}

.logo-auth {
  width: 100%;
  margin-bottom: 30px;
}

.nav-logo {
  width: 100%;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #695F5F;
  object-fit: cover;
}

.profile-pic-small {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #695F5F;
  object-fit: cover;
}

.profile-pic-comment {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #695F5F;
  object-fit: cover;
}

.image-grid {
  width: 770px;
  margin: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-grid img, .image-grid video {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.image-grid img:hover, .image-grid video:hover {
  opacity: 0.8;
}

.opacity-8:hover {
  opacity: 0.8;
}

.pink-bg {
  background-color: #FFF0F5;
}

.post-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}

.default-button {
  font-size: inherit;
  font-weight: bold;
  background-color: #67E8B5;
  color: #F4FFFB;
}

.default-button:hover {
  background-color: #77EDBE;
}

.default-button:disabled {
  background-color: #AAFBDB;
}

.default-button:focus {
  color: #F4FFFB;
  background-color: #67E8B5;
}

.default-link {
  font-weight: bold;
  font-size: inherit;
  color: #67E8B5;
  background-color: #FFF0F5;;
  text-decoration: none;
  border: none;
}

.default-link:hover {
  color: #77EDBE;
}

.default-link:disabled{
  color: #AAFBDB;
}

.interaction {
  cursor: pointer;
  height: 1.5rem;
}

.delete {
  cursor: pointer;
  height: 1.2rem;
}

p {
  font-size: inherit;
  color: #695F5F;
}

a {
  text-decoration: none;
}

.username {
  font-weight: bold;
  color: #2B0806;
  margin: 0;
}

.comment-card {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: center;
  margin: 10px;
  padding-bottom: 10px;
}

.comment-card p {
  margin: 0;
}

.modal-content {
  background-color: #FFF0F5;
}

.modal-content h4 {
  font-size: inherit;
  color: #2B0806;
}

.modal-content input {
  background-color: #FFF0F5;
  color: inherit;
  font-size: inherit;
}

.suggested-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.profile-header {
  padding: 30px;
  width: 800px;
  margin: auto;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  
}

.profile-header text {
  display: grid;
}

.edit-text:hover {
  opacity: 0.5;
}

.table {
  color: inherit;
}