body {
  background-color: #FFF0F5;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}


.profile-pic-small {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}